<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--<title>{% block title %}Welcome!{% endblock %}</title>-->

        <link rel="icon" type="image/png" href="{{ asset('assets1/images/Logo_IPAT.png') }}" >

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}

            <title>
                IPAT
            </title>
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{{  asset("assets1/fonts/icomoon/style.css") }}">

            <link rel="stylesheet" href="{{  asset("assets1/css/owl.carousel.min.css") }}">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{{  asset("assets1/css/bootstrap.min.css")}}">

            <!-- Style -->
            <link rel="stylesheet" href="{{  asset("assets1/css/style.css")}}">
            <style>
                /* Pour l'input de l'email */
                #emailLabel {
                    position: relative;
                }

                #inputEmail:hover + #emailLabel::before {
                    content: "";
                    display: none;
                }

                #emailLabel::before {
                    content: "Email";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    z-index: 1;
                }

                /* Pour l'input de mot de passe */
                #passwordLabel {
                    position: relative;
                }

                #inputPassword:hover + #passwordLabel::before {
                    content: "";
                    display: none;
                }

                #passwordLabel::before {
                    content: "Password";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    z-index: 1;
                }
            </style>
        {% endblock %}


    </head>
    <body>
        {% block body %}
            {% block javascripts %}
                {# {{ encore_entry_script_tags('app') }}#}
                <script src="{{  asset("assets1/js/jquery-3.3.1.min.js")}}"></script>
                <script src="{{  asset("assets1/js/popper.min.js")}}"></script>
                <script src="{{  asset("assets1/js/bootstrap.min.js")}}"></script>
                <script src="{{  asset("assets1/js/main.js")}}"></script>

            {% endblock %}
        {% endblock %}
    </body>
</html>
